
<div class="main-container">
  <div class="header">

  </div>
  <div class="content">
    <fieldset>
      <legend>Login Form</legend>
      <label for="username" >Username</label>
      <input type="text" name="username" placeholder="enter your username" [(ngModel)]="username">

      <label for="password" >Password</label>
      <input type="password" name="password" placeholder="enter your password" [(ngModel)]="password">

      <input type="submit" name="submit" id="submit" value="Login" (click)="Submit()"/>

      </fieldset>
  </div>
  <div class="footer">

  </div>
</div>





